<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="随机生成文字数据库版.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <随机生成文字数据库版.Properties.Settings>
            <setting name="db地址" serializeAs="String">
                <value>db\A_20200910.db</value>
            </setting>
            <setting name="随机" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="数量" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="隐藏翻译" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="隐藏单词" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="txt地址" serializeAs="String">
                <value>word\A_20200910.txt</value>
            </setting>
        </随机生成文字数据库版.Properties.Settings>
    </userSettings>
</configuration>